.label {
    -fx-text-alignment: center;
    -fx-min-height: 64;
    -fx-min-width: 64;
    -fx-font-family: Helvetica;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.square {
    -fx-min-height: 64;
    -fx-min-width: 64;
}

.bg-white {
    -fx-background-color: rgba(255, 255, 255, 0.5);
}

.bg-black {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

Image {
    -fx-cursor: hand;
}
